/*-- scss:defaults --*/
// Base document colors
$julia-blue: #4063D8;
$primary: $julia_blue;
$body-bg: lighten($primary, 43%);
$body-color: darken($primary, 43%);

// Navbar
$navbar-bg: lighten($primary, 45%);

// Footer
$footer-bg: lighten($primary, 45%);

/*-- scss:rules --*/
// Welcome
.welcome h1 {
  color: #4063D8;
  font-size: 3.5rem;
}

.welcome h2 {
  border-bottom: 0cm;
  margin-top: 0%;
}

.wide-banner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.wide-banner-text {
  flex: 1;  
  margin: 10px;
}

.contact-form {
  display: flex;
  position: relative;
  margin: auto;
  border: 1px solid $navbar-bg;
  width: 100%;
  min-height: 500px;
  marginheight: 0px;
  marginwidth: 0px;
  flex-wrap: wrap;
}

.hero-banner h1, .hero-banner h2, .hero-banner h3, .hero-banner p {
  color: $primary
}

.hero-banner h1 {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(left, $primary, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Hero banner 
.hero-banner {
  position: relative;
  background-image: url('www/bg.gif');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  // padding-top: 10px;
  flex-wrap: wrap;
}

// .hero-banner::before {
//     content: "";
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       background-color: rgba(255, 255, 255, 0.5);
// }

.hero-banner-text {
  z-index: 2;
  flex: 1; /* Each item will take equal space */
  min-width: 300px; /* Minimum width of each item */
  min-height: 600px;
  margin: 10px;
}

.dynamic-text {
  color: $primary;
  font-size: 2.5rem;
  margin: 10px;
  width: 100%;
  left: 0;
  bottom: 20px;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
}

.hero-banner-carousel {
  flex: 1; /* Each item will take equal space */
  min-width: 300px; /* Minimum width of each item */
  margin: 10px;
}

// Carousel
.carousel {
  margin-top: 50px;
}

.carousel img {
  width: 300px;
  height: 300px;
  max-width: 70%;
  margin-bottom: 110px;
  object-fit: cover;    
  background-color: lighten($primary, 45%);
}

.carousel .carousel-control-prev-icon, 
.carousel .carousel-control-next-icon {
    margin-bottom: 110px;
}

